:root{
    --a:0;
}





*{
     margin:0;
    padding: 0;
    font-family: 'Roboto',sans-serif;
}

body{
     background-color: black;
    color: white;
}


    
    
    .right{
        width: 95vw;
        

    }
    .left{
        width: 25vw;
        padding: 10px;
    }
    /* .home{
        padding: 10px ;
        margin: 10px;
    } */

    .home ul li{
        display: flex;
        gap:15px ;
        width: 14px;
        list-style: none;
        padding-top: 14px;
        font-weight: bold;

    }
    .heading{
        display: flex;
        gap:15px ;
        width: 100%;
        padding-top: 14px;
        padding: 23px 14px;
        font-weight: bold;
        align-items: center;
        font-size: 13px;
    }

    .heading img {
       
        width: 25px;
       

    }

    .library{
       height: 95vh;
        position: relative;
    }

    

    .footer{
        display: flex;
        font-size: 10px;
        color: grey;
        gap: 13px;
        position:absolute ;
        bottom: 0;
        padding: 10px 0;


}

        .footer a{
            color: grey;
        }

.right{
    margin: 16px 0 ;
    position: relative;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
   
}

.header > *{
    padding: 20px;
  

}

.spotifyPlaylist{
    padding: 16px;

}
.spotifyPlaylist h1{
    padding: 25px;

}

.cardContainer{
    margin: 30px;
    display: flex;
   
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 70vh;
    padding-bottom: 14 3px;

}

.card{
    width:200px;
    padding: 10px;
    border-radius: 5px;
    background-color:#252525;
    position: relative;
    transition: all .9s;
}

.card:hover{
    background-color: #6e6e6b;
    cursor: pointer;
    --a:1;
}
.card > *{
    padding-top: 3px;
}

.play {
    width: 28px;
    height: 28px;
    background-color: #1fdf64;
    border-radius: 50%;
   
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 179px;
    right: 17px;
    opacity: var(--a);
    transition: all 1s ease-out;
    
}




.buttons >*{
    margin:0px 12px;
}

.Signupbtn{
    background-color: rgb(34,34,34);
    color: rgb(82,82,82);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    transition: transform 0.3s ease, color 0.3s ease; /* Smooth transitions */

}
.Signupbtn:hover{
    /* font-size: 17px; */
    color: white;
    transform: scale(1.1); /* Slightly enlarge the button */
}
.Loginbtn{
    background-color: white;
    border-radius: 30px;
    color: black;
    cursor: pointer;
    padding: 10px;
    cursor: pointer;
    width: 79px;
    font-size: 16px;
    transition: transform 0.3s ease, font-weight 0.3s ease; /* Smooth transitions */
   
}

.Loginbtn:hover{
    font-weight: bold;
    transform: scale(1.1); /* Slightly enlarge the button */

   
    
}



.playbar{
    position:absolute;
    bottom: 30px;
    background:#e2d9d9;
    border-radius: 10px;
    width: 95%;
    filter: invert(1);
    padding: 12px;
   min-height:40px ;
    gap: 18px;
   
   
    
}

.songbuttons{
    display: flex;
    justify-content: center;
}

.songList{
    width: 100%;
    height: 544px;
    overflow: auto;
    margin-bottom: 44px;
   

}

.songList ul{
    padding: 0 10px;
}

.songList ul li{
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    padding: 12px 0;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
   
  
    font-size: smaller;
}

.songList .info{
    font-size:13px ;
}

.info div{
    word-break: break-all;
}

.playnow{
    display: flex;
    justify-content: center;
    align-items: center;
}

.playnow span{
    font-size: 10px;
    width: 64px;
    font-weight: bold;
    padding: 12px;
   
}
.seekbar{
    height: 6px;
    width: 95%;
   background: black;
    border-radius: 10px;
    position: absolute;
    bottom: 0;
    margin: 6px;
    cursor: pointer;
}


.playnow img{
    width: 25px;
    height: 25px;
}


.card img{
    width: 100%;
    object-fit: contain;
}

.circle{
    width:20px;
    height: 25px;
    border-radius: 13px;
    background-color:black;
    position: relative;
    bottom: 11px;
    left: 0%;
    transition: left 0.5s ;
}

.songbuttons img{
    cursor: pointer;
}

.abovebar{
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.timevol{
    display: flex;
    justify-content: center;
    align-items: center;
}


.songinfo {
    color:black;
    padding: 0 12px;
    width: px;
}

.songtime{
    width: 125px;
    color: black;
    padding: 0 12px;
}

.volume{
   display: flex;
   gap: 12px;
   justify-content: center;
   align-items: center;
   cursor: pointer;

}

.range input{
    cursor: pointer;
}

.hamburger{
    display: none;
    cursor: pointer;
}

.hamburgercont{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

.close{
    display: none;
}

@media (max-width:1000px){
    .left{
        position: absolute;
        left: -110%;
        transition: all .3s;
        z-index: 1;
        width: 370px ;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;

    }
    .songinfo,
    .songtime {
        width: auto;
    }
    .left .close{
        position: absolute;
        right: 31px;
        top: 25px;
        width: 29px;
    }
    .songbuttons {
        height: 20px;
    }

    .timevol{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 13px;

    }

    .right{
            width: 100vw;
    }
    .playbar{
              width:calc(100vw-105px);
    }
    .seekbar{
        width:calc(100vw-120px);
    }

    .hamburger{
        display: block;
    }
    .right{
        margin: 0;
    }
    .close{
        display: block;
    }

    .card{
        width: 55vw;
    }
.cardContainer{
        margin: 0;
        justify-content: center;
        }
    .abovebar{
        flex-direction: column;
        gap: 23px;
        align-items: center;

    }
    .playbar{
        position:absolute;
        bottom: 0px;
    }

}

@media (max-width:500px){
        .card{
            width: auto;
        }

        .cardContainer{
           max-height: 50vh;
            }



}